<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/baf5edd593.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <header>
        
        <div class="container">
            <div class="logo">
                <div><img src="" alt=""></div>
                    <div class="title"></div>
                <nav class="search-bar">
                    <input type="Busqueda" placeholder="Buscar productos, marcas">
                    <button class="fas fa-search"> </button>
                </nav>
                <nav class="nav-bar">
                    <ul>
                            <li class="link-list"><a href="#">Inicio</a></li>
                            <li><a href="link-list">Vender</a></li>                            <li><a href="">Ofertas</a></li>
                            <li><a href="link-list">Carrito</a></li>
                            <li><a href="link-list ">Ingresa</a></li>
                    </ul>
                </nav>
            </div>   
        </div>
        
        <div class="banner">
            
        </div>  
    
    </header>
    <main>

    </main>
    <footer>
        
    </footer>
</head>
<body>
    
</body>
</html>