*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: darkcyan;
    color: black;

}
header div.logo
header .form{
    width: 50%;
}
div.top-header{
    display: flex;
    justify-content:flex-start;
}

header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}

nav .navigator{
    background-color: #FFF;
    outline: none;
    color: #666;
    padding: 2px;
    align-items: flex-end;
}
header .top-header .logo{
    padding: 10px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}
header ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}
header nav ul li {
    text-decoration: none;
    color: #000;
    display: inline-block;
    float: left;
    border-right: 1px solid #000;
    
}
header nav ul li a{
  display: block;
  padding: 10px;
  background-color: #dddddd;
  color:#000;
  text-align: center;
  padding: 14px 16px;
}

header .form input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 12%;
}