*{ box-sizing: border-box; }

/* Paleta de colores https://coolors.co/cb997e-ddbea9-ffe8d6-b7b7a4-a5a58d-6b705c */
/* Clases genéricas */
.container{ max-width: 1200px; margin: 0 auto; }
a { text-decoration: none; }

body{
  background-color: #e3e3e4;
  color: #666;
  font-family: 'Roboto', sans-serif; 
  display:flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
main{ flex-grow: 1; }

/*Header*/
header, footer{
  background: rgb(20,76,119);
  background: linear-gradient(90deg, rgba(20,76,119,1) 3%, rgba(23,89,139,1) 8%, rgba(66,122,157,1) 17%, rgba(68,133,163,1) 26%, rgba(97,148,172,1) 38%, rgba(123,168,187,1) 50%);
  color: black;
  box-shadow: 0 0 4px;
}
header .header-top{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
header .header-top div.spare{
  display: none;
  color: rgb(50, 18, 18);
  font-weight: bold;
  background: rgb(15,76,105);
  background: linear-gradient(274deg, rgba(15,76,105,1) 33%, rgba(20,78,113,1) 44%, rgba(20,76,119,1) 47%, rgba(11,45,71,1) 73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .header-top div.spare h2{ text-shadow: 0 0 5px; }
header .header-top-nav-bar{
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  width: 100%;
}
header .header-top a, .header-top span{
  padding: 0px 20px;
  color: white;
  font-size: 14px;
}
header .header-bottom{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}
header .header-logo{
  width: 10%;
  text-shadow: 0 0 5px;
}
header .header-logo img, .header-logo span{
  display:none;
}
header .header-logo i{
  font-size: 26px;
  color:white;
  text-align: center;
  padding: 0;
}
header .header-logo img{
  width: 100%;
}
header .header-search-bar{
  display: flex;
  align-items: center;
  width: 75%;
}
header div.header-search-bar form{
  width: 50%;
  display: flex;
  align-items: center;
  padding: 2px;
  font-size: 11px;
  flex-grow: 1;
}
header .header-search-bar .search-button{
  padding: 8px;
  border-radius: 0px 6px 6px 0px;
  border: 0;
  background: rgb(97,148,172);
  background: radial-gradient(circle, rgba(97,148,172,1) 0%, rgba(15,76,105,1) 1%, rgba(19,78,111,1) 25%, rgba(20,78,113,1) 31%, rgba(20,76,119,1) 37%, rgba(11,45,71,1) 90%);
  color: white;
  font-size: 14px;
}
header .header-search-bar .search-input{ 
  width: 100%;
  padding: 8px;
  border-radius: 6px 0px 0px 6px;
  border: 0;
}
input:focus, button:focus{
  outline: none; 
  background-color: none;
}
header a{ text-shadow: 0 0 2px; }
header .header-bottom-nav-bar{ display: none; }
header .header-bottom-nav-bar a { 
  font-size: 16px;
  color: white;
}

.header-bottom-nav-bar a:hover {
  transform: scale(1.005);
  color: #7E0606;
}

.header-top-nav-bar a:hover {
  transform: scale(1.005);
  color: #7E0606;
}

/* media queries solo del header*/
@media (min-width: 768px) {

  header .header-top{
    justify-content: space-between;
  }
  header .header-top div.spare{
    display: block;
    width: 24%;
    text-align: left;
    padding: 0px 0px 0px 10px;
  }
  header .header-top a{
    font-size: 14px;
  }
  header .header-top-nav-bar {
    justify-content: flex-end;
    padding-top: 25px;
  }
  .header-top-nav-bar span { display: none; }
  header .header-logo i { 
    font-size: 35px;
    padding: 0 0 0 40px; 
  }
  header .header-bottom-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    padding-right: 20px;
  }
  header .header-search-bar{
    width: 40%;
  }
  header .header-bottom{
    justify-content: space-between;
    padding-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  header .header-top h2{
    font-size: 35px;
  }
  header .header-logo i { 
    font-size: 50px;
    padding: 0 0 15px 70px; }
    header .header-bottom{
      padding-bottom: 25px;
    }
}
/* HASTA ACÁ VA EL header  */

/* Footer */
footer {
  padding: 15px 0 0 0;
  border-bottom: none;
  border-top:rgba(0,0,0, 0.4) solid 1px;
}
.footer {
  display:flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.col-2 {
  width: 100%;
}
.footer .col-2 a{
  display: block;
  padding: 10px 0;
  font-size: 14px;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 2px;
}
.footer .col-20 a i{ 
  font-size: 50px; 
  padding: 5% 15px; 
  text-decoration: none; 
  color: rgb(52, 107, 170);
  text-shadow: 0 0 20px;
}
.col-80{
  width: 100%;
  display:flex;
  flex-basis: 80%;
  margin: 0 auto;
  justify-content: space-around;
  padding-left: 5px;
}
.col-20{
  width: 100%;
  flex-basis: 30%;
}
.col-1{
  width: 100%;
  flex-basis: 100%;
}
.fake{
  display: flex;
  text-align: left;
  font-size: 10px;
  color: #222;
  padding: 0;
}
.fake p{
  padding-right: 40px;
}

/* Un poquito de hover para el footer */

.col-2 a span:hover {
  cursor: pointer;
  transform: scale(1.005);
  color: #7E0606;
  
}

.col-20 i:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 2px 1px #e3e3e4;
  border-radius: 75%;
}


/* Tomi */

main .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}
main .hero {
  display: none;
}
main .main-banner {
  position: relative;
}
main .text-in-banner {
  position: relative;
  margin-left: 25%;
}
main .main-banner h2{
  position: absolute;
  color: black;
}
main .main-banner img{
  width: 100%;
  box-shadow: 0 6px 6px;
}
main .text-banner p {
  max-width: 1200px;
  text-align: right;
  color: #555;
  margin-top: 0px;
  font-size: 12px;
}


.container h1{
  text-align: center;
  font-size: 24px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.container h1{
padding: 0 0 40px 0;
}
.offer{
  animation-name: expand;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.container h1.category{
  padding: 0 0 40px 0;
}
@keyframes expand {
  0% {transform:scale(1.0)}
  50% {transform: scale(1.15)}
  100% {transform:scale(1.0)}
}

.col-3{
  flex-basis: 30%;
}
.col-5{
  flex-basis: 18.333%;
}
.col-4{
  flex-basis: 22%;
}

.col-5 a, .col-3 a, .col-4 a{
  display: block;
  border-radius: 16px !important;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 15%) 0 2px 4px;
  text-decoration: none;
  margin-bottom: 30px;
  transition: all 0.2s;
}
.col-5 a:hover, .col-3 a:hover{
  transform: scale(1.1);
  box-shadow: rgb(0 0 0 / 15%) 0 2px 20px;
}
.col-5 a .image, .col-3 a .image , .col-4 a .image{
  position: relative;
}
.col-5 a .image img,.col-3 a .image img, .col-4 a .image img {
  width: 100%;
  height: 100%;
}
.col-5 a .text-img, .col-3 a .text-img , .col-4 .text-img {
  display: block;
  padding: 0 20px;
  width: 100%;
}
.col-5 a .text-img h4, .col-3 a .text-img h4, .comment h4, .col-4 a .text-img h4{
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
  margin-block-start: 10px;
  margin-block-end: 0;
  color: #666 ;
}
.col-5 a .text-img p, .col-3 a .text-img p, .comment p, .col-4 a .text-img p{
  width: 100%;
  font-size: 14px;
  text-align: left;
  color: #555555;
}
.comment-line{
  border-top:rgb(0 0 0 / 15%) dotted 0.1rem;
  padding-top: 30px;
}
.comment{
  background-color: #fff;
  display: block;
  border-radius: 16px !important;
  box-shadow: rgb(0 0 0 / 15%) 0 2px 8px;
  overflow: hidden;
  margin-bottom: 30px;
}
.comment h4{
  padding: 10px 10px 4px 10px;
  margin: 0;
  background-color: #e3e3e4;
}
.comment p{
  padding: 10px 10px 10px 10px;
  margin: 0;
  background-color: white;
}

.row-all{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;
  width: 100%;
}

.col-4 a .text-img h4{ font-size: 14px; }

.col-4  .text-button button{
  border: none;
  width: 100%;
  padding: 10px 0px;
  font-weight: 600;
  background-image: linear-gradient(to right, #394dc0 0%, #2badab  51%, #2d3d95  100%);
  transition: .5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
}
.col-4  .text-button button:hover{
  background-position: right center;
  color: #fff;
  text-decoration: none;
}


/* CSS  de Login y register */
.container h2{ text-align: center; }

.form {
  background: white;
  border: 1px solid black;
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-radius: 10px;
}



.form label {
  display: block;
  font-weight: 700;
  padding: 5px 0;
}

.txt_input {
  width: 100%;
  background: transparent;
  border: 0.5px solid #e3e3e3;
  border-radius: 2px;
  height: 35px;
  line-height: 35px;
  padding: 0 40px 0 10px;
  transition: .3s ease all;
  cursor: pointer;
}

.select-input{
  width: 100%;
  background: transparent;
  border: 0.5px solid #e3e3e3;
  border-radius: 2px;
  padding: 0 40px 0 10px;
  transition: .3s ease all;
  cursor:auto;
}
.text-area-input{
  background: transparent;
  border: 0.5px solid #e3e3e3;
  border-radius: 2px;
  transition: .05s all;
}

.text-area-input:hover{box-shadow: 0px 0px 1px 1px rgb(40, 113, 230);}

.txt_input:hover, .select-input:hover {
  box-shadow: 0px 0px 1px 1px rgb(40, 113, 230);
  cursor: text;
}

.txt_error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.txt_error-activo { display: block; }

.icon_validation {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.btn_enviar {
    
    background: rgb(111, 163, 202);
    border: 1px solid black;
    padding: 1em 2em;
    border-radius: 5px;
    color: black ;
    font-size: 4 px;
    
}

.btn_enviar:hover,.btn_enviar:focus {
    cursor: pointer;
    background: rgb(1, 57, 100);
    color: rgb(231, 235, 238);
    outline: 0;
    transition: background-color 500ms ease-out;
}

.text-danger {
  color: #bb2929;
  font-weight: 700;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.validacion_correcto .icon_validation {
  color: #1ed12d;
  opacity: 1;
}

.validacion_incorrecto .icon_validation {
  color: #bb2929;
  opacity: 1;
}

.validacion_incorrecto .txt_input { border: 2px solid #bb2929; }

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
  .form { grid-template-columns: 1fr; }
  .div_nombre, .div_apellido{ grid-column: span 2; }
}


/* Seba */
/* Detalle del producto */
body div.ubication-product-detail{
  display:block;
  font-size: 12px;
  padding: 10px 20px;
}
body div.car-image-banner img{
  display: none;
  margin: auto;
  height: 400px;
}
.container-detail{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  background-color:transparent;
  margin: auto;
  max-width: 1200px;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  border: #333333 1px solid;
  box-shadow: 0 0 4px;
  justify-content: space-between;
}
.row-product{
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 15%) 0 2px 8px;
  border-radius: 8px;
  width: 100%;
  justify-content: center;
  padding: 25px 5px;
}
.mb5 { margin-bottom: 5px; } /* son las 4.50am, pinto así para separar las cajas */
/* Manejo la primer sección del lado izquierdo, en cascada modifico sus elementos */
.row-product .col-1 {
  width: 100%;
  display:flex;
  justify-content: space-between;
}
.row-product .col-1 .product {
  flex-basis: 65%;
  padding-left: 60px;
}
.car-brand{
  flex-basis: 35%;
  margin: auto;
}
.car-brand img{
  width: 100%;
}
.row-product .col-1 .product h5{
  font-size: 24px;
  margin-block-start: 15px;
  margin-block-end: 0;
}
.row-product .col-1 .product p{
  margin-block-start: 5px;
  margin-block-end: 10px;
  font-style: italic;
}
form .quantity{
  border: 0.5px solid #e3e3e3
}
.quantity-selector{
  width: 300px;
  background: transparent;
  border: none;
  border-radius: 2px;
  padding: 0 40px 0 10px;
  transition: .3s ease all;
  cursor:auto;
}
button[type="button"] .quantity-selector {
  border: none;
}

/* detalle producto: opciones de compra y contacto */

.buy-options{
  flex-basis: 70%;
  justify-items: space-between;
  display: flex;
  flex-wrap: wrap;
}
.buy-options .costs{
  width: 100%;

}
.buy-options .costs p{
  display:block;
  text-align: center;
  width: 100%;
}
p .product-value #text{
  font-size: 20px;
  font-weight: bold;
}

.contact{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 25%;
  justify-content: center;
  padding-right: 15px;
}
.contact p{
  display:block;
  text-align: center;
  margin-top: 60px;
  width: 100%;
}
.contact button {
  border: none;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(216, 212, 212, 0.424);
  border-radius: 5px;
}
.buttons-buy{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
button.buy-button{
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 4px;
  font-weight: 600;
  background-image: linear-gradient(to right, #394dc0 0%, #2badab  51%, #2d3d95  100%);
  transition: .5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
}
button.buy-button:hover{
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
button.add-to-cart-button{
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 10px 0px;
  vertical-align: bottom;
  font-weight: 600;
  background-color: #e3e3e3;
  color: white;            
  box-shadow: 0 0 20px #eee;
}

  /* Manejo la sección del lado inferior */
h6.related-art{
  font-size: 12px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: auto;
  padding: 10px 0 15px 0;
  
}
.row-related{
  justify-content: space-around;
  padding: 10px 0 10px 0;
}
.in-related {
  text-align: center;
  max-width: 150px;
  border-radius: 16px !important;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 15%) 0 2px 10px;
  background-color: #e3e3e4;
}
.in-related p{
  margin-block-start: 0px;
  margin-block-end: 0;
}
.in-related img{
  width:100%;
}
.container-related{
  margin: 15px auto 25px auto;
}

/* Hasta acá escribo las líneas del detalle del producto */

/* Carrito de compras */
.mt5{
  margin-top: 20px;
}

.pay-opt{
  justify-content: space-around;
  align-items: center;
}

div.shipment{
  display: block;
  width: 100%;
}

body div.payment{
  display: block;
  width: 100%;
}

body div.confirm-purchase{
  display: block;
  width: 90%;
  padding: 20px 0px;
}


.row-sell{
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 15%) 0 2px 8px;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 0 20px #eee;
}
.row-sell .col-1 {
  width: 100%;
} 
.row-sell .col-1 p{
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}
.row-sell .col-1 input[type="submit"]{
  height: 100%;
  background-image: linear-gradient(to right, #ffffff 0%,#badfde 20%, #394dc0  100%);
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 4px;
  font-weight: 600;
  color: white;
}

/* Hasta acá escribo las líneas del carrito de compras */

/*CSS PRODUCTO SECTION*/
.product-filter { display: flex; }
.product-filter h1 { flex-grow: 1; }
.sort {
  display: none; /* lo oculte por las palabras de pao sobre esperar q tengamos las herramientas para hacerla funcionar*/
  width:33%;
  padding: 10px 0px;
}
.collection-sort {
  display: flex;
  padding-bottom: 5px;
  flex-direction: column;
}

.products {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
}
.product-card {
  padding: 2%;
  display: flex;
  flex: 30%;
}
.product-image img {
  max-width: 100%;
}
.product-info {
  margin-top: auto;
  margin-bottom: auto;
}
.product-filter h1{
  text-align: center;
}
.product-card .product-image img{
  display: block;
  border-radius: 16px !important;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 15%) 0 2px 4px;
  text-decoration: none;
  margin-bottom: 30px;
  transition: all 0.2s;
}
/* publicar producto */
.container-form{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  max-width: 800px;
  justify-content: center;
  padding: 0 0 35px 0;
}
.log-reg{
  padding-top: 30px;
}
form div.col-1 label{
  display: block;
  width: 100%;
  margin: 20px 0 3px 0;
}


.container-form form.publish {
  width: 95%;
}

.container-form .row{
  display: flex;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 15%) 0 2px 8px;
  border-radius: 8px;
  width: 100%;
  justify-content: center;
  padding: 0px 0 25px 0;
}
.container .row .col-1{
width: 100%;
}
.container-form .row h5{
  text-align: center;
  font-size: 18px;
  color: #888;
  margin-block-end: 0px;
}
.container-form form.publish label, .container-form form.publish input, .container-form form.publish textarea, .container-form form.publish select {  padding: 10px 0 ; width: 100%;}

.container-form form.publish label {
  font-weight: bold;
  margin-left: 0px;
}
.terms{}

.container-form form.publish .terms label{
  font-size: 14px;
  text-align: center;
  padding: 0;
}

input#terms.check-form{
  margin-top: 8px;
}
.container-form input[type="submit"] {
  margin-top: 15px;
  background-color: lightblue;
  border: none;
  box-shadow: 0 0 2px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 30px;
}

.container-form input[type="file"]{
  width: 100%;
  margin-left: 25px;
}



.container-admin{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  max-width: 800px;
  padding: 0 0 35px 0;
}

.row-admin{
  display: flex;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 15%) 0 2px 8px;
  border-radius: 8px;
  width: 100%;
  justify-content: left;
  margin: 15px 0 15px 0;
  align-content: center;
}
.row-admin button{
  display:flex;
  flex-basis: 40%;
}
.card{
  width: 100%;
  flex-basis: 50%;
}
.card_img{
  margin: auto 30px auto 15px;
  width: 100%;
  flex-basis: 15%;
}
.card_img img{
  border-radius: 30%;
  width: 100%;
  max-width: 150px;
}
.admin{
  flex-basis: 35%;
  align-self: space-between;
  margin: 10px  0;
  width: 100%;
}
/* background-image: linear-gradient(to right, #ffffff 0%,#badfde 20%, #394dc0  100%); */
input[type="submit"].admin{
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 4px;
}
.danger{
  background-color: rgb(226, 88, 88);
}

.about{
  background-color: rgba(255, 255, 255, 0.575);
  box-shadow: rgb(0 0 0 / 15%) 0 2px 8px;
  border-radius: 8px;
  width: 100%;
  padding: 0px 0 25px 25px;
  margin-top: 25px;
}
.about h4{
  text-align: left;
  font-size: 20px;
  color: #888;
  margin-block-end: 10px;
}
.about ul li {
  list-style-type: square;
}
.about p{
  text-align: left;
  font-size: 18px;
  color: #777;
  margin-block-end: 10px;
  margin-block-start: 0px;
  padding: 5px 0 0 10px;
}
.about .col-1{
  border-top: rgb(0 0 0 / 15%) dotted 0.1rem;
}