*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
  margin: ;
  background: #222;
  font-weight: 300;
}
header{
    background-color: #55d6aa;
    color: black;
}
header::after{
  content: '';
  display: table;
  clear: both;
}
.logo{
  float: left;
  padding: 10px 0;
}
.container{
  width: 100%;
  margin: 0 auto;
}
nav{
  float: right;
}
nav ul{
margin: 0;
padding: 0;
list-style: none;
}
nav li{
  display: inline-block;
  margin-left: 70px;
  margin-right: 25px;
  padding-top: 23px;
  position: relative;
}

nav ul li a{

color: #444;
text-decoration: none;
text-transform: uppercase;
font-size: 14px;
}

nav a::before{
  content: "";
  display: block;
  height: 5px;
  
  background-color: #444;
  position: absolute;
  top:0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before{
  width: 100%;
}


header div.logo
header .form{
    width: 50%;
}
div.top-header{
    display: flex;
    justify-content:flex-start;
}

header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}

header .top-header .logo{
    padding: 10px;
}



header .form input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 12%;
}

/* CSS trash de Login y register */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
 
  .container h2{
    text-align: center;
  }
  .super-conteiner {
    border: 1px solid black;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    }
  
  .form {
    background: white;
    border: 1px solid black;
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border-radius: 10px;
  }
  
  .form label {
    display: block;
    font-weight: 700;
    padding: 5px 0;
    cursor: pointer;
  }
  
  .container_input {
    position: relative;
  }
  
  .txt_input {
    width: 100%;
    background: #fff;
    border: 2px solid black;
    border-radius: 3px;
    height: 35px;
    line-height: 35px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
  }
  
  .txt_input:hover {
    border: 2px solid #000;
    outline: none;
    box-shadow: 3px 0px 30px rgba(0,0,0, 0.4);
  }
  
  .txt_error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
  }
  
  .txt_error-activo {
    display: block;
  }
  
  .icon_validation {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
  }
  
  .formulario__checkbox {
    margin-right: 20px;
  }
  
  .div_password,.div_password2,.div_correo,.div_enviar, .div_terminos {
    grid-column: span 2;
    }
  
  .div_enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn_enviar {
    background: black;
      border: 0;
      padding: 1em 2em;
      border-radius: 4px;
      color: #e4e4e4;
      text-transform: uppercase;
      font-size: 14px;
    font-weight: bold;
  }
  
  .btn_enviar:hover,.btn_enviar:focus {
      cursor: pointer;
      background: #3952a3;
      color: #ffffff;
      outline: 0;
      transition: background-color 500ms ease-out;
  }
  
  /* ----- -----  Estilos para Validacion ----- ----- */
  .validacion_correcto .icon_validation {
    color: #1ed12d;
    opacity: 1;
  }
  
  .validacion_incorrecto .icon_validation {
    color: #bb2929;
    opacity: 1;
  }
  
  .validacion_incorrecto .txt_input {
    border: 2px solid #bb2929;
  }
  
  /* ----- -----  Mediaqueries ----- ----- */
  @media screen and (max-width: 800px) {
    .form {
      grid-template-columns: 1fr;
    }
  
    .div_password,.div_password2,.div_correo,.div_enviar, .div_terminos {
      grid-column: span 1;
    }
  }
  

  /* Seba */
  /* Detalle del producto */
  body div.ubication-product-detail{
    display:block;
    font-size: 12px;
    padding: 10px 20px;
    border: dotted red 1px;
  }
  body div.car-image-banner img{
    display: none;
    margin: auto;
    height: 400px;
  }
  body section div.main-product-detail{
    border: dotted yellow 4px;
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
  }
  /* Manejo la primer sección del lado izquierdo, en cascada modifico sus elementos */
  body section div.left-side-product-detail{
    display:inline-block;
    width: 75%;
    border: 2px red solid;
  }
  /* Ubico y le doy tamaño a la imagen principal */
  body section div.left-side-product-detail div.car-image{
    margin: auto;
    width: 100%;
  }

  /* Trabajo sobre el texto principal y logo  */
  body section div.left-side-product-detail div.car-brand{
    display: block;
    margin: auto;
    width: 100%;
    font-size: 24px;
    padding: 1rem 0rem;
  }
  p.car-brand{
    display:inline-block;
    vertical-align: center;
  }
  body section div.left-side-product-detail div.car-brand img{
    width: 40px;
  } /* Me falta ubicarla centrada respecto de su eje vertical*/

  /* Trabajo sobre el articulo y la información del producto */

  body section article{
    display: block;
    margin: auto;
  }
  body section article div p.product-name{
    font-size: 24px;
  }
  body section article div.product {
    display: flex;
    width: 100%;

  }
  body section article div.product-img-slider{
    display: flex;
    width: 300px;
    border: 2px red solid;
    justify-content: space-around;
  }
  body section article div.product-img-slider img{
    width: 40%;
    height: auto;
  }

  body section article div.product-info{
    width: 35%;
  }
  /* Manejo la sección del lado derecho */
  body section div.right-side-product-detail{
    display:inline-block;
    width: 20%;
    border: 2px green solid;
  }
    /* Manejo la sección del lado inferior */
  
  body section.bottom{
    width: 80%;
    display: block;
    margin: auto;
  }
  body section.bottom div.bottom-side-product-detail{
    display: flex;
    justify-content: space-between;
  }
  body section.bottom div.bottom-side-product-detail article{
    display: block;
    width: 25%;
    padding: 5px 25px;
    text-align: center;
  }
  body section.bottom div.bottom-side-product-detail article p{
  font-size: 8px;
  }
  body section.bottom div article img{
    width: 100%;
  }