<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>


        <div class="container about">
          <div class="row">
            <h4>El mejor precio para tu repuesto garantizado</h4> 
            <div class="col-1">
              <p>En Spare Parts buscamos la solución a tus problemas al mejor costo.</p>
              <ul>
                <li>filtros eficientes</li>
                <li>simpleza</li>
                <li>productos sinceros</li>
              </ul>
            </div>
            <div class="col-1">
              <p>Nos avalan más de 20.000.000 de compras concretadas</p>
              <p>239.542,5 clientes satisfechos!</p>
            </div>
            <div class="col-1">
              <p>Seguínos en las redes y Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quo consequuntur
                porro quas, accusamus incidunt. </p>
              <p>No dudes en <a href="/contact">contactarnos</a></p>
            </div>
          </div>
        </div>
        <h4>

        </h4>

      <%- include('./partials/footer') %>
  </body>

</html>