<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
    <body>
      <%- include('./partials/header') %>

      <main class="main">
        <div class="container">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero,
          eveniet consectetur quam ipsa consequuntur unde ut dolor. Unde dolorem
          aliquam laborum aut! Ratione fugiat quidem iusto illo vitae odit
          ducimus? Corporis, eaque. Dolorum voluptatum unde iure accusantium
          beatae sunt voluptate officia libero dicta ratione eaque similique,
          aut ipsa debitis facere. Magni ipsam incidunt excepturi obcaecati
          voluptatibus porro expedita quia aspernatur. Veritatis voluptatem
          deserunt magnam recusandae, similique reiciendis vero atque expedita
          est ab id fuga nobis debitis itaque laboriosam possimus quas assumenda
          tempore. Ullam possimus ex nobis soluta architecto aspernatur ipsum.
          Et porro eius ullam aut repellendus provident totam? Natus quaerat
          soluta nesciunt nam cupiditate pariatur, ducimus doloremque odit
          explicabo fuga rerum tempore repellat, similique molestiae iure eos!
          Fuga, quos perferendis! Modi, rerum ex illum, facilis, molestias
          consequuntur qui perferendis eos veritatis vero nisi nemo? Doloremque
          ipsam harum odit qui optio sed, repellat ab iste eum reprehenderit
          itaque. Facere, error mollitia.
        </div>
      </main>
      <%- include('./partials/footer') %>
    </body>
</html>
