<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
    <body>
      <%- include('./partials/header') %>

      <main class="main">
        <div class="row">
          
          <div class="col-2">
            <h2>Cuidando tu auto desde hace 20 años</h2>
            <div class="col-2-img">
              <img src="/images/rally-gallery-5.jpg" alt="">
            </div>
            <p>nos encargamos de que tu auto reciba los mejores repuestos y al mejor precio de mercado</p>
          </div>
          
        </div>
      
      <!--categorias de feature-->

      <div class="feature">
        <h1>Features Products</h1>
        <div class="row">
          <div class="col-3">
            <img src="/images/category-1.jpg" alt="">
          </div>
          <div class="col-3">
            <img src="/images/category-2.jpg" alt="">
          </div>
          <div class="col-3">
            <img src="/images/category-3.jpg" alt="">
          </div>
          
        </div>
      </div>


      </main>
      <%- include('./partials/footer') %>
    </body>
</html>
