<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
    <body>
      <%- include('./partials/header') %>

      <main class="main">
          
          <div class="hero">
            <div class="main-banner">
              <div class="text-in-banner">
                <!-- <h2>Cuida tu auto <br>a un clic</h2> -->
              </div>
              <img src="/images/rally-gallery-5.jpg" alt="">
            </div>
          </div>
          <div class="text-banner">
            <p>nos encargamos de que tu auto reciba los mejores repuestos y al mejor precio de mercado</p>

          </div>
          

      
      <!--categorias de feature-->

      <div class="container">
        <h1>Destacados</h1>
        <div class="row">
          <div class="col-3">
            <img src="/images/products/exhaust.jpg" alt="">
          </div>
          <div class="col-3">
            <img src="/images/products/spoiler.jpg" alt="">
          </div>
          <div class="col-3">
            <img src="/images/products/k04.jpg" alt="">
          </div>
          
        </div>
      </div>

      <div class="container">
        <h1>Categorias</h1>
        <div class="row">
          <div class="col-5">
            <p>Motor</p>
            <img src="/images/motor.jpg" alt="">
          </div>
          <div class="col-5">
            <p>Interior</p>
            <img src="/images/interior.jpg" alt="">
          </div>
          <div class="col-5">
            <p>Exterior</p>
            <img src="/images/exterior.jpg" alt="">
          </div>
          <div class="col-5">
            <p>Accesorios</p>
            <img src="/images/accesorios.jpg" alt="">
          </div>
        </div>
      </div>

      </main>
      <%- include('./partials/footer') %>
    </body>
</html>
