<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body class='not-found'>
    <div class="card1">
        <div class="img1">
            <img src="../../images/robot_not-found.png" alt="">
        </div>
        <div class="text">
            <h1 class="is-large">Parts  not found | 404</h1>
            <p class="is-medium">La página a la que intentas acceder no es una dirección válida.</p>
            <br>
            <p class="is-medium">Volver al <a href="/home">Inicio</a>.</p>
            <p class="is-medium">Ir a <a href="/product/all">Productos</a>.</p>
            <p class="is-medium to-right">También podés <a href="/contact">Contactarnos</a>.</p>
        </div>
    </div>
</body>
</html>