<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    
    <!-- Seccion productos-->
    <main>
      <nav class="product-filter">

        <h1>Repuestos</h1>
      
        <div class="sort">
      
          <div class="collection-sort">
            <label>Filtrar por:</label>
            <select>
              <option value="/">Todos los Repuestos</option>
            </select>
          </div>
      
          <div class="collection-sort">
            <label>Ordenar por:</label>
            <select>
              <option value="/">Categoria</option>
            </select>
          </div>
      
        </div>
      </nav>

      <section class="products">

        <div class="product-card">
          <div class="product-image">
            <img src="images/repuestos2.jpg">
          </div>
          <div class="product-info">
            <h5>Rueda + llanta </h5>
            <h6>100.000</h6>
            <p><button>Add to Cart</button></p>
          </div>
        </div>
        
         <div class="product-card">
          <div class="product-image">
            <img src="images/repuestos2.jpg">
          </div>
          <div class="product-info">
            <h5>Rueda + llanta </h5>
            <h6>100.000</h6>
            <p><button>Add to Cart</button></p>
          </div>
        </div>

        <div class="product-card">
          <div class="product-image">
            <img src="images/repuestos2.jpg">
          </div>
          <div class="product-info">
            <h5>Rueda + llanta </h5>
            <h6>100.000</h6>
            <p><button>Add to Cart</button></p>
          </div>
        </div>

        <div class="product-card">
          <div class="product-image">
            <img src="images/repuestos2.jpg">
          </div>
          <div class="product-info">
            <h5>Rueda + llanta </h5>
            <h6>100.000</h6>
            <p><button>Add to Cart</button></p>
          </div>
        </div>

        <div class="product-card">
          <div class="product-image">
            <img src="images/repuestos2.jpg">
          </div>
          <div class="product-info">
            <h5>Rueda + llanta </h5>
            <h6>100.000</h6>
            <p><button>Add to Cart</button></p>

          </div>
        </div>
        
        <div class="product-card">
          <div class="product-image">
            <img src="images/repuestos2.jpg">
          </div>
          <div class="product-info">
            <h5>Rueda + llanta </h5>
            <h6>100.000</h6>
            <p><button>Add to Cart</button></p>
          </div>
        </div>
        <!-- AGREGAR MAS productos(quizas nos ensenian a captarlos por base de datos y hacer la repeticion del html integrada a la base.)  -->
      
      </section>
    </main>
    

     <%- include('./partials/footer') %>

</body>
</html>