<footer>
    <div class="container">
        <div class="footer">
            <div class="col-80">
                <div class="col-2">
                    <a href="#">Terminos y condiciones</a>
                    <a href="#">Ayuda</a>
                    <a href="#">Avisos legales</a>
                </div>
                <div class="col-2">
                    <a href="#">Mi cuenta</a>
                    <a href="#">Acerca de</a>
                </div>
            </div>
            <div class="col-20">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram-square"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i>
                </a>
            </div>
        </div>
    </div>
</footer>