<footer>
    <div class="container">
        <div class="footer">
            <div class="col-80">
                <div class="col-2">
                    <a href="#"><span>Terminos y condiciones</span></a>
                    <a href="#"><span>Ayuda</span></a>
                    <a href="#"><span>Avisos legales</span></a>
                                    </div>
                <div class="col-2">
                    <a href="#"><span>¿Dónde estamos?</span></a>
                    <a href="#"><span>Contacto</span></a>
                    <a href="#"><span>Política de Privacidad</span></a>
                </div>
            </div>
            <div class="col-20">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube-square"></i></a>
                <a href="#"><i class="far fa-envelope"></i></a>
            </div>
        </div>
    </div>
    <div class="container col-1 fake">
        <p>Copyright © 1990-2021 Spare Parts</p>
        <p>Av. Falsa 3427, Piso 6, CP 1179, San Telmo, CABA</p>
    </div>
</footer>
