 
<header>
    <div class="container">

      <div class="header-top">
        <!--  if (user anonymus)-->
        <div class="spare">
          <h2>Spare Parts</h2>
        </div>
        <nav class="header-top-nav-bar">
          <a href="login">Inicia sesión</a>
          <span>|</span>
          <a href="register">Registrate</a>
          <!--  if (user active)
          <a href=""></*%=user.name%*/>*/</a> -->
        </nav>
      </div>

      <div class="header-bottom">

        <div class="header-logo">
          <i class="fas fa-wrench"></i>
           
        </div>
        
        <div class="header-search-bar">
          <form action="" method="GET">
            <input type="text" class="search-input" placeholder="Buscá tu repuesto, marcas y más"> <button class="fa fa-search search-button"> </button>
          </form>
        </div>
        
        
        <nav class="header-bottom-nav-bar">
          <a href="home">Inicio</a>
          <a href="product">Productos</a>
          <a href="cart">Carrito</a>
          <a href="publicar">Vender</a>
        </nav>
      </div>
    </div>
</header>
