 
<header>
    <div class="container">

      <div class="header-top">
        <nav class="header-top-nav-bar">
          <a href="">Inicia sesión</a>
          <a href="">Registrate</a>
        </nav>
      </div>

      <div class="header-bottom">

        <div class="header-logo">
          <a href=""> <img src="/images/logo-v-0.1.jpg" alt="" /> </a>
        </div>
        
        <div class="header-search-bar">
          <form action="" method="GET">
            <input type="text" class="search-input"> <button class="fa fa-search search-button"> </button>
          </form>
        </div>
        
        
        <nav class="header-bottom-nav-bar">
          <a href="/">Home</a>
          <a href="">Productos</a>
          <a href="">About</a>
          <a href="">Vender</a>
        </nav>
      </div>
    </div>
</header>
