 
<header>
    <div class="container">

      <div class="header-top">
        <!--  if (user anonymus)-->
        <div class="spare">
          <h2>Spare Parts</h2>
        </div>
        <nav class="header-top-nav-bar">
          <a href="">Inicia sesión</a>
          <span>|</span>
          <a href="">Registrate</a>
          <!--  if (user active)
          <a href=""></*%=user.name%*/>*/</a> -->
        </nav>
      </div>

      <div class="header-bottom">

        <div class="header-logo">
          <i class="fas fa-wrench"></i>
          <a href=""> <img src="/images/logo-v-0.1.jpg" alt="" /> </a>
        </div>
        
        <div class="header-search-bar">
          <form action="" method="GET">
            <input type="text" class="search-input" placeholder="Buscá tu repuesto, marcas y más"> <button class="fa fa-search search-button"> </button>
          </form>
        </div>
        
        
        <nav class="header-bottom-nav-bar">
          <a href="/">Productos</a>
          <a href="">Favoritos</a>
          <a href="">Vender</a>
          <a href="">About</a>
        </nav>
      </div>
    </div>
</header>
