<header>
<!-- Caja principal contiene logo + search bar +  nav bar-->
<div class="header-main">

  <!-- Caja secundaria contiene logo -->
  <div class="header-logo">
    <a href="/"> <img src="/img/logo-lorem.png" alt="" /> </a>
  </div>

  <!-- Caja secundaria contiene search bar -->
  <div class="header-search-bar">
    <form action="">
      <input type="text"> <button class="header-search-button"> </button>
    </form>
  </div>
  <!-- Caja secundaria contiene nav bar -->
  <div class="header-nav-bar">
    <nav class="navigator">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Carrito</a></li>
        <li><a href="#">Ofertas</a></li>
      </ul>
<!--  Modificar esta seccion a un EJS con un if, si es que el usuario está logeado mostrar el nombre del usuario y un link a favoritos, si no está logeado, queda como está-->
      <ul>
        <li><a href="/login">Ingresa/User</a></li>
        <li><a href="/register">Crea tu cuenta</a></li>
        <li><a href="">Favoritos</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- Caja de tercer nivel contiene banner -->
<div class="header-banner">
  <a href="#"><img src="#" alt="Banner de ofertas" /></a> 
</div>
  </header>