<header>
<!-- Caja principal contiene logo + search bar +  nav bar-->
<div class="header-main">

  <!-- Caja secundaria contiene logo -->
  <div class="header-logo">
    <a href="/"> <img src="/images/logo-lorem.png" width='200px'alt="" /> </a>
  </div>

  <!-- Caja secundaria contiene search bar 
  <div class="header-search-bar">
    <form action="">
      <input type="text"> <button class="header-search-button"> </button>
    </form>
  </div>-->
  <!-- Caja secundaria contiene nav bar -->
  <div class="header-nav-bar">
    <nav class="navigator">
        <ul>
          <li><a href="http://localhost:3000">Home</a></li>
          <li><a href="">Productos</a></li>
          <li><a href="">About</a></li>
          <li><a href="http://localhost:3000/login">Iniciar sesion</a></li>
          <li><a href="">Vender</a></li>
        </ul>
    </nav>
  </div>
</div>
<!-- Caja de tercer nivel contiene banner -->

  </header>