<header>
  <div class="container">

    <div class="header-top">
      <!--  if (user anonymus)-->
      <div class="header-logo">
        <img src=".././../../images/parts.svg" alt="LOGO">
        <!-- <i class="fas fa-wrench"></i> -->
      </div>

      <nav class="header-top-nav-bar">

        <% if (locals.isLogged) { %>
          <div class="avatar">
            <img src="../../../images/avatars/<%=locals.user.avatar%>" class="user-avatar">
          </div>
          <a href="/user/profile">
            <%=locals.user.user_name%>
          </a>
          <a href="/user/logout">Cerrar sesi칩n</a>
          <% if (locals.isAdmin) { %> 
          <a href="/user/admin/all">Panel de usuarios</a>
          <% } %> 
          <% } else {%>
            <a href="/user/login">Inicia sesi칩n</a>
            <span>|</span>
            <a href="/user/register">Registrate</a>
            <% } %>

      </nav>
    </div>
    <div class="header-bottom">


      <div class="header-search-bar">
        <form action="/search" method="GET">
          <input type="text" class="search-input" placeholder="Busc치 tu repuesto, marcas y m치s" name="query"> <button class="fa fa-search search-button" > </button>
        </form>
      </div>


      <nav class="header-bottom-nav-bar">
        <a href="/home">Inicio</a>
        <a href="/product/all">Productos</a>

        <% if (locals.isLogged) { %>
          <a href="/product/cart">Carrito</a>
          <a href="/product/publicar">Vender</a>
          <% } %>
      </nav>
    </div>
  </div>
</header>